*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace, sans-serif;
}

.card img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50px;
  border: 2px solid #fff;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: #111111ee;
  color: white;
  max-width: fit-content;
  margin: 10px;
  box-shadow: 5px 5px 10px #616161;
  transition: all 0.3s;
  cursor: pointer;
  
}

.card:hover{
  transform: scale(1.03);
}

.card-title{
  color: lightskyblue;
}

.card-text{
  font-size: 0.9rem;
}

.studentCard{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: #111111ee;
  color: white;
  max-width: fit-content;
  margin: 10px;
  box-shadow: 5px 5px 10px #616161;
  transition: all 0.3s;
  cursor: pointer;
}

.studentCard:hover{
  transform: scale(1.03);
}

.studentCard img {
  border-radius: 50px;
  margin: auto;
  margin-bottom: 10px;
  outline: 2px solid #fff;
}

.user-message, .login-message{
  background-color: lightgreen;
  margin: 20px;
  padding: 5px 20px;
  border-radius: 10px;
}

.login-message{
  background-color: lightcoral;
}