*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace, sans-serif;
}
body{
  background-color: #111111ee;
}

.card img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50px;
  border: 2px solid #fff;
}

.card, .counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: #111111ee;
  color: white;
  max-width: fit-content;
  margin: 10px;
  box-shadow: 5px 5px 10px #616161;
  transition: all 0.3s;
  cursor: pointer;
}

.darkCard{
  background-color: #e9e9e9;
  color: #252525;
}


.card:hover{
  transform: scale(1.03);
}

.card-title{
  color: lightskyblue;
}

.card-text{
  font-size: 0.9rem;
}

.studentCard{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: #111111ee;
  color: white;
  max-width: fit-content;
  margin: 10px;
  box-shadow: 5px 5px 10px #616161;
  transition: all 0.3s;
  cursor: pointer;
}

.studentCard:hover{
  transform: scale(1.03);
}

.studentCard img {
  border-radius: 50px;
  margin: auto;
  margin-bottom: 10px;
  outline: 2px solid #fff;
}

.user-message, .login-message{
  background-color: lightgreen;
  margin: 20px;
  padding: 5px 20px;
  border-radius: 10px;
}

.login-message{
  background-color: lightcoral;
}

ul{
  list-style:square;
  margin: auto;
  padding: 20px;
}

hr{
  margin: 20px 0px;
}

.day{
  background-color: rgb(179, 116, 0);
  color: whitesmoke;
}

.neight{
  background-color: #131313;
  color: whitesmoke;
}

.secondaryBtn{
  font-size: 1rem;
  padding: 7px 20px;
  background-color: #42b7ff;
  color: white;
  border: none;
  font-weight: bold;
  margin: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.secondaryBtn:hover{
  background-color: #004e7f;
}

.profile-img{
  width: 150px;
  margin-top: 15px;
}

.reuseBtn{
  font-size: 1rem;
  padding: 7px 20px;
  background-color: transparent;
  border: 1px solid #42b7ff;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.reuseBtn:hover{
  background-color: #42b7ff;
}

.btn-container {
  display: flex;
  gap: 10px;
}

.counter h1{
  font-size: 4rem;
}

.scupture-gallery{
  background-color: #131313;
  margin: 10px 20px;
  padding: 15px;
  color: whitesmoke;
  border-radius: 10px;
  max-width: 600px;
  border: 2px solid whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.scupture-gallery h2{
  font-weight: bolder;
}

.scupture-gallery img{
  max-height: 200px;
  width: min-content;
}
