.btn{
    padding: 7px 20px;
    background-color: #67c0f7;
    color: white;
    border: none;
    font-weight: bold;
    margin: 15px;
    cursor: pointer;
  };

.btn:hover{
    background-color: #1f7dff;
}